<div class="container">
  <div class = "row">
    <div class = text-center><h3>会員情報編集</h3></div>
  </div>
  <div class = "row">
    <div class = "col-md-4 offset-1">
      <%= form_with model: @user, url: users_my_page_edit_path(@user.id), method: :patch do |f| %>
      <div class="field">
        <%= f.label :プロフィール写真 %>
        <%= f.file_field :profile_image, accept: "image/*", class:'form-control-file' %>
        <!--プレビュー表示 作成途中-->
        <%#= if article.title_image.attached? %>
          <%#= image_tag article.title_image %>
        <%# end %>
      </div>
    </div>
    <div class = "offset-1 col-md-4 offset-1">
      <%#= form_with model: @user, url: users_my_page_edit_path(@user.id), method: :patch do |f| %>
      <table class="table table-borderless">
        <thead></thead>
        <tbody>
          <tr>
            <th><%= f.label :name, "アカウント名" %></th>
            <th><%= f.text_field :name, autofocus: true, id:"name", class:'form-control' %></th>
          </tr>
          <tr>
            <th><%= f.label :name, "自己紹介" %></th>
            <th><%= f.text_area :introduction, autofocus: true, id:"introduction", class:'form-control' %></th>
          </tr>

          <tr>
            <th><%= f.label :email, "メールアドレス" %></th>
            <th><%= f.text_field :email, id:"email", class:'form-control' %></th>
          </tr>
        </tbody>
      </table>
      <%= f.submit "更新", class:'btn btn-outline-secondary' %><%= link_to "退会", users_withdraw_path, class:'btn btn-outline-danger btn-block' %>
      <% end %>
    </div>
  </div>
</div>


<!--<h1>User::Users#edit</h1>-->
<!--<p>Find me in app/views/user/users/edit.html.erb</p>-->
