<div class="container">
  <div class = "row">
    <div style = "padding-bottom:45px;", class = text-center><h3>マイページ</h3></div>
  </div>
  <div class = "row">
    <div class = "offset-md-1 col-md-3">
      <%= image_tag @item.get_image(250,250) %>
    </div>
    <div class = "col-md-4">
      <div><h4><%= @user.name %></h4></div>
      <div><h5><%= @user.introduction %></h5></div>
      <div><h5><%= @user.email %></h5></div>
      <%= link_to users_my_page_edit_path(@user.id),  class: 'btn btn-outline-dark btn-block' do %>
        編集する
      <% end %>
      <div></div>
      <%= form_with model: @cart_item, method: :post do |f| %>
      <div class="form-group">
        <%= f.select :amount, *[1..10] %>
        <%= f.submit "カートに入れる", class:'btn btn-secondary' %>
        <%= f.hidden_field :item_id, :value => @item.id %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<!--nagnocakeのログアウトのヘッダーのうつし-->
<li><%#= button_to "ログアウト", destroy_customer_session_path, method: :delete, class:'btn btn-outline-Secondary btn-sm btn-block mb-3' %></li>

<!--<h1>User::Users#show</h1>-->
<!--<p>Find me in app/views/user/users/show.html.erb</p>-->
