<div class="container">
  <div class = "row">
    <div class = text-center><h3>マイページ</h3></div>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:'btn btn-outline-Secondary btn-md btn-block mb-3' %>
  </div>
  <div class = "row">
    <div class = "col-md-4">
      <!--アカウント登録情報-->
      <%= image_tag @user.get_profile_image(230,230) %>
      <div><h4><%= @user.name %></h4></div>
      <div><h5><%= @user.introduction %></h5></div>
      <div><h5><%= @user.email %></h5></div>
      <%= link_to users_my_page_edit_path(@user.id),  class: 'btn btn-outline-dark btn-block' do %>
        編集する
      <% end %>
      <%= link_to favourites_path(@user.id),  class: 'btn btn-outline-dark btn-block' do %>
        お気に入り写真
      <% end %>
      <!--リンク未設定-->
      <%= link_to users_my_page_edit_path(@user.id),  class: 'btn btn-outline-dark btn-block' do %>
        フォロー中
      <% end %>
      <!--リンク未設定-->
      <%= link_to users_my_page_edit_path(@user.id),  class: 'btn btn-outline-dark btn-block' do %>
        フォロワー
      <% end %>
    </div>
    <!--ログインユーザーの投稿写真-->
    <div class = "offset-1 col-md-5">
      <div class = "d-flex flex-wrap">
        <!--投稿写真並べて表示-->
        <%#= @posts.each do |post| %>
        <!--<div style = "width: 20%;", class="ml-2">-->
          <%#= link_to post_path(post.id) do %>
          <%#= image_tag post.get_image(150,150), size: "150x150" %></br>
          <%#= post.name %></br>
          <%# end %>
        </div>
        <%# end %>
      </div>
  </div>
</div>

<!--nagnocakeのログアウトのヘッダーのうつし-->
<%#= button_to "ログアウト", destroy_customer_session_path, method: :delete, class:'btn btn-outline-Secondary btn-sm btn-block mb-3' %>

<!--<h1>User::Users#show</h1>-->
<!--<p>Find me in app/views/user/users/show.html.erb</p>-->
