<div class="container">
  <div class="text-center"><h2>投稿編集</2></div>
  <div class="row">
    <div class="col-md-5">
    <%= form_with model: @post, url:post_path(@post.id), method: :patch,  local: true do |f| %>
      <!--更新内容が新しく保存される-->
      <%= f.hidden_field :latitude %>
      <%= f.hidden_field :longitude %>

      <div class="form_field">
        <%= f.label :写真 %>
        <%= f.file_field :image, accept: "image/*", class:'form-control-file' %>
      </div>
      <!--写真のブレビュー-->
      <div id = "new-image" ></div>

      <div class="form_field">
        <%= f.label :タイトル %>
        <%= f.text_field :tatle, autofocus: true, id:"title", class:'form-control', value: @post.title %>
      </div>
       <%= f.fields_for :tags do |ff| %>
        <div class="form_field">
          <%= ff.label :"タグ（,で区切って複数タグ付け）" %>
          <%= ff.text_field :names, autofocus: true, class:'form-control', value: @post.tags.pluck(:name).join(", b") %>
        </div>
       <% end %>
    </div>
    <div class="offset-1 col-md-5">
      <div class="form_field">
        <%= f.label :絶景ポイント %>
        <%= f.text_area :introduction, id:"introduction", class:'form-control' %>
      </div>
      <div class="form_field">
        <input id="address" type="textbox" >
        <input type="button" value="検索" onclick="codeAddress()">
        <div id='map'></div>
        <style>
        #map {
          height: 240px;
          width: 330px;
        }
        </style>
        <script>
        let map
        function initMap(){
          geocoder = new google.maps.Geocoder()

          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: Number(gon.lat), lng: Number(gon.lng) },
            zoom: 11,
          });

          marker = new google.maps.Marker({
            position: {lat: Number(gon.lat), lng: Number(gon.lng) },
            map: map
          });
        }
        let geocoder

        function codeAddress(){
          let inputAddress = document.getElementById('address').value;
          geocoder.geocode( { 'address': inputAddress}, function(results, status) {
            if (status == 'OK') {
              // 新しい緯度経度に変更する
              $("#post_latitude").val(results[0].geometry.location.lat());
              $("#post_longitude").val(results[0].geometry.location.lng());
              map.setCenter(results[0].geometry.location);

              var marker = new google.maps.Marker({
                  map: map,
                  position: results[0].geometry.location
              });
            } else {
              alert('該当する結果がありませんでした：' + status);
            }
          });
        }
        </script>
        <script src="https://maps.google.com/maps/api/js?key=<%= ENV['SECRET_KEY'] %>&callback=initMap&language=ja"></script>
        <%#= f.label :場所 %>
        <%#= f.text_field :place, id:"place", class:'form-control' %>
      </div>
        <%= f.submit "更新", class:'btn btn-outline-primary' %><%= link_to "削除する", post_path(@post.id), method: :delete, "data-confirm"=>"本当に消しますか？",class:'btn btn-danger' %>
      <% end %>
    </div>
  </div>
</div>
