<div class="container">
  <div class="row">
    <div class="offset-md-4 col-md-4">
      <h3 class="text-center mt-3 mb-4">絶景一覧</h3>

      <div class="text-center">
        <%= form_with url: search_path, method: :get, local: true do |f| %>
          <%= f.text_field :keyword, value: @keyword, class: "form-control mt-3" %>
          <%= f.submit "検索",class: "btn btn-outline-dark mt-3 mx-1 w-25" %>

          <!--検索後の表示されてるページにのみ表示-->
          <% if request.path == "/search" %>
            <%= link_to "戻る", posts_path, class: "btn btn-outline-secondary mt-3 mx-1 w-25" %>
          <% end %>

          <% if request.path == "/search_tag" %>
            <!--referer前のページに戻る-->
            <%= link_to "戻る", request.referer, class: "btn btn-outline-secondary mt-3 mx-1 w-25" %>
          <% end %>

        <% end %>
      </div>
    </div>
  </div>

  <div class = "row">
    <% @posts.each do |posts| %>

      <div class="col-md-2 mt-3 mr-3 ml-3">
        <%= link_to post_path(posts.id) do %>
          <%= image_tag posts.get_image(500,500), class: 'user-index-image' %></br>
          <p class="text-center"><%= posts.title %></p></br>
        <% end %>
      </div>

    <% end %>
  </div>
</div>


<!--<h1>User::Post#index</h1>-->
<!--<p>Find me in app/views/user/post/index.html.erb</p>-->
