<div class="container">
  <div class="text-center"><h2>新規投稿</2></div>
  <div class="row">
    <div class="col-md-5">
      <%= form_with model: @post do |f| %>
      <div class="form_field">
        <div><%= f.label :写真 %></div>
        <%= f.file_field :image, accept: "image/*", class:'form-control-file' %>
      </div>
      <div class="form_field">
        <%= f.label :タイトル %>
        <%= f.text_field :title, autofocus: true, id:"title", class:'form-control' %>
      </div>
      <div class="form_field">
        <%= f.label :タグ %>
        <%= f.text_field :tag_list, autofocus: true, id:"tag_list", class:'form-control' %>
      </div>
    </div>
    <div class="offset-1 col-md-5">
      <div class="form_field">
        <%= f.label :絶景ポイント %>
        <%= f.text_area :introduction, id:"introduction", class:'form-control' %>
      </div>
      <div class="form_field">
        <%= f.label :場所 %>
        <%= f.text_field :place, id:"place", class:'form-control' %>
      </div>
        <%= f.submit "投稿", class:'btn btn-outline-primary' %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class = "offset-5 col-md-6">
    </div>
  </div>
</div>



<!--<h1>User::Post#new</h1>-->
<!--<p>Find me in app/views/user/post/new.html.erb</p>-->
