<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div><h2><%= @post.title %></h2></div>
      <%= @user.name %></br>
      <%= image_tag @post.get_image(200,200) %></br>
      <%= @post.tag_list %>
      <!--お気に入りに追加するボタン表示-->
      <!--コメントとコメントした人表示-->
      <div style = "width: 30%;", class="ml-2">
      <%# @post.each do |post| %>
        <!--コメントとコメントしたユーザーをリンクにする-->
        <%= link_to users_my_page_path(@post.id) do  %>
        <%= image_tag @post.get_image(40,40) %></br>
          post.comment
        <% end %>
      </div>
      <%# end %>
      <div><%#= @post.comment %></div>
    </div>
    <div class = "offset-5 col-md-6">
      <p>絶景ポイント</p>
      <%= @post.introduction %>
    </div>
  </div>
  <div class="row">
  </div>
</div>

<!--<h1>User::Post#show</h1>-->
<!--<p>Find me in app/views/user/post/show.html.erb</p>-->
