<div class="container">
  <script src="http://maps.google.com/maps/api/js?key=SECRET_KEY&language=ja"></script>
  <div class="row">
    <div class="col-md-5">
      <h2><%= @post.title %></h2></br>
      <%= link_to user_path(@user.id), class: 'btn btn-outline-dark btn-block' do %>
        <%= @user.name %></br>
      <% end %>
      <%= image_tag @post.get_image(200,200) %></br>
      <!--タグの表示-->
      <%= @post.tags.pluck(:name) %>
      <!--お気に入りに追加するボタン表示-->
  <div id="favorite_<%= @post.id %>">
    <% if favorite = @post.favorites.find_by(user_id: current_user.id) %>
      <%= link_to "お気に入り済", favorite_path(favorite.id), remote:true, method: :delete, style: "color: red;" %>
    <% else %>
      <%= link_to "お気に入り", favorites_path(post_id: @post), remote:true, method: :post %>
    <% end %>
    <%= @post.favorites.size %>
  </div>
      <!--コメントとコメントした人表示-->
      <div style="width: 30%;", class="ml-2" id="comment_list">
        <%#= @comments.user.name %>
        <%= render "user/comments/comment_list", comments: @comments %>
      </div>
      <div style = "width: 30%;", class="ml-2">
      <%= form_with model: [@post,@comment], url:post_comments_path(@post), local: false do |f| %>
        <%= f.text_field :comment, autofocus: true, placeholder: "コメント", class:'form-control' %>
        <%= f.submit "コメントする", class:'btn btn-outline-primary' %>
      <% end %>
      </div>
    </div>
    <div class = "offset-1 col-md-5">
    <%= link_to "編集", edit_post_path(post_id: @post), class:'btn btn-outline-primary'%>
      <p>絶景ポイント</p>
      <%= @post.introduction %></br>
      <div id='map'></div>
        <style>
        #map {
          height: 130px;
          width: 210px;
        }
        </style>
        <script>
        let map
        function initMap(){
          geocoder = new google.maps.Geocoder()

          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 40.7828, lng:-73.9653},
            zoom: 12,
          });

          marker = new google.maps.Marker({
            position:  {lat: 40.7828, lng:-73.9653},
            map: map
          });
        }
        let geocoder
        function codeAddress(){
          let inputAddress = document.getElementById('address').value;
          geocoder.geocode( { 'address': inputAddress}, function(results, status) {
            if (status == 'OK') {
              map.setCenter(results[0].geometry.location);
              var marker = new google.maps.Marker({
                  map: map,
                  position: results[0].geometry.location
              });
            } else {
              alert('該当する結果がありませんでした：' + status);
            }
          });
        }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=SECRET_KEY&callback=initMap" async defer></script>
      </div>
  </div>
  <div class="row">
  </div>
</div>

<!--<h1>User::Post#show</h1>-->
<!--<p>Find me in app/views/user/post/show.html.erb</p>-->
