<div class="container">
  <h5><%= @user.name %>さんの会員情報編集</h5>
  <div class = "row">
    <div class = "col-md-10">
      <%= form_with model: @user, url: admin_user_path(@user.id), method: :patch do |f| %>
        <table class="table table-borderless">
      <thead></thead>
      <tbody>
        <tr>
         <th><%= f.label :id, "会員ID" %></th>
         <th><%= @user.id %></th>
        </tr>
        <tr>
          <th><%= f.label :name, "アカウント名" %></th>
          <th><%= f.text_field :name, autofocus: true, id:"name", class:'form-control' %></th>
        </tr>
        <tr>
          <th><%= f.label :email, "メールアドレス" %></th>
          <th><%= f.text_field :email, id:"email", class:'form-control' %></th>
        </tr>
        <tr>
          <th><%= f.label :public_status, "会員ステータス" %></th>
          <th>
            <%= f.radio_button :is_deleted, 0, {checked: true} %> 有効
            <%= f.radio_button :is_deleted, 1, {} %> 退会
          </th>
        </tr>
        <tr>
          <th></th>
          <th><%= f.submit "変更を保存", class:'btn btn-outline-secondary' %></th>
        </tr>
      </tbody>
    </table>
      <% end %>
    </div>
  </div>
</div>





<!--<h1>Admin::Users#edit</h1>-->
<!--<p>Find me in app/views/admin/users/edit.html.erb</p>-->
