<div class="container">
  <!--会員詳細の下に余白作る-->
  <div style = "padding-bottom:45px;", class = text-center ><h3>会員詳細</h3></div>
  <div class="row">
   <div class="col-md-4">
     <div class = text-center ><h5></h5></div>
    <div style = "padding-bottom:45px;" ><%= image_tag @user.get_profile_image(380,410) %></div>
    <%= link_to edit_admin_user_path(@user.id),  class: 'btn btn-outline-dark btn-block' do %>
     <!--<i class="fas fa-user-cog"></i>-->
      編集する
    <% end %>

  </div>
  <div class="offset-1 col-md-5">
  <div style = "padding-top:45px;"></div>
    <table class="table">
      <tbody>
        <tr>
          <th>会員ID</th>
          <th><%= @user.id %></th>
        </tr>
        <tr>
          <th>アカウント名</th>
          <th><%= @user.name %></th>
        </tr>
        <tr>
          <th>自己紹介</th>
          <th><%= @user.introduction %></th>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <th><%= @user.email %></th>
        </tr>
        <tr>
          <th>退会ステータス</th>
          <th>
            <% if @user.is_deleted == false %>
              有効
            <% else %>
              退会
            <% end %>
          </th>
        </tr>
      </tbody>
    </table>
    <div>
      <%= link_to admin_users_path(@user.id),  class: 'btn btn-outline-secondary btn-block' do %>
       <!--<i class="fas fa-user-cog"></i>-->
       会員一覧へ戻る
      <% end %>
      <%#= @post.title %>
    </div>
    </div>
  </div>
  <!--上下左右に少し余白つける-->
  <div class="row">
      <% @posts.each do |post| %>
        <div style = "width: 15%;", class="ml-2">
        <%= link_to admin_post_path(post.id) do %>
          <%= image_tag post.get_image(120,120), size: "120x120" %></br>
          <%= post.title %></br>
        <% end %>
        </div>
      <% end %>
  </div>
</div>
 <!--<div><input type="submit" name="commit" value="Create Book" class="btn btn-success" data-disable-with="Create Book"></div>-->
 <%# end %>
     <!--</div>-->





<!--<h1>Admin::Users#show</h1>-->
<!--<p>Find me in app/views/admin/users/show.html.erb</p>-->
<%#= link_to "削除する", admin_post_path(@post.id), method: :delete, "data-confirm"=>"本当に消しますか？",class:'btn btn-danger' %>
