<div class="container my-5">
  <div class="row">

    <div class="col-md-6">
      <%= image_tag @user.get_profile_image(640,720), class: "img-fluid" %>
    </div>

    <div class="col-md-5">
      <table class="table">
        <tbody>

          <tr>
            <th>会員ID</th>
            <th><%= @user.id %></th>
          </tr>

          <tr>
            <th>アカウント名</th>
            <th><%= @user.name %></th>
          </tr>

          <tr>
            <th>自己紹介</th>
            <th><%= @user.introduction %></th>
          </tr>

          <tr>
            <th>メールアドレス</th>
            <th><%= @user.email %></th>
          </tr>

          <tr>
            <th>退会ステータス</th>
            <th>
              <% if @user.is_deleted == false %>
                有効
              <% else %>
                退会
              <% end %>
            </th>
          </tr>

        </tbody>
      </table>

    <div class="text-center">
      <%= link_to "編集する", edit_admin_user_path(@user.id),  class: 'btn btn-outline-dark mb-3 mx-3' %>
      <%= link_to "会員一覧へ戻る", admin_users_path(@user.id),  class: 'btn btn-outline-secondary mb-3 mx-3' %>
    </div>

    </div>
  </div>

  <!--上下左右に少し余白つける-->
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-2 mt-3 mr-2 ml-2">

      <%= link_to admin_post_path(post.id) do %>
        <%= image_tag post.get_image(500,500), class: 'admin-show-image' %></br>
        <%= post.title %></br>
      <% end %>

      </div>
    <% end %>
  </div>
</div>
 <!--<div><input type="submit" name="commit" value="Create Book" class="btn btn-success" data-disable-with="Create Book"></div>-->
 <%# end %>
     <!--</div>-->





<!--<h1>Admin::Users#show</h1>-->
<!--<p>Find me in app/views/admin/users/show.html.erb</p>-->
<%#= link_to "削除する", admin_post_path(@post.id), method: :delete, "data-confirm"=>"本当に消しますか？",class:'btn btn-danger' %>
