<div class="container px-5 px-sm-0">
  <h3>会員詳細</h3>
 <div class="row">
   <div class="col-md-3">
    <!--プロフィール画像-->
    <%#= image_tag @user.get_profile_image(200,200) %>
    <table class="table">
      <tbody>
        <tr>
          <th>会員ID</th>
          <th><%= @user.id %></th>
        </tr>
        <tr>
          <th>アカウント名</th>
          <th><%= @user.name %></th>
        </tr>
        <tr>
          <th>自己紹介</th>
          <th><%= @user.introduction %></th>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <th><%= @user.email %></th>
        </tr>
        <tr>
          <th>退会ステータス</th>
          <th>
            <% if @customer.is_deleted == false %>
              有効
            <% else %>
              退会
            <% end %>
          </th>
        </tr>
      </tbody>
    </table>
    <%= link_to edit_user_path(@user.id),  class: 'btn btn-outline-secondary btn-block' do %>
     <i class="fas fa-user-cog"></i>
    <% end %>
 <!--<div><input type="submit" name="commit" value="Create Book" class="btn btn-success" data-disable-with="Create Book"></div>-->
 <% end %>
</div>
  </div>
 </div>
</div>





<!--<h1>Admin::Users#show</h1>-->
<!--<p>Find me in app/views/admin/users/show.html.erb</p>-->
