<!DOCTYPE html>
<html>
  <head>
    <title>ColourPen</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="background">
    <header>
      <!--<nav class="navbar navbar-expand-lg navbar-white bg-white site-header pb-3 pt-3">-->
      <nav class= "navbar navbar-expand-lg navbar-light site-header pb-3 pt-3">
        <div class="container">
          <%= link_to root_path, class: 'navbar-brand' do %>
            <i class="fas fa-pen fa-2x fa-rotate-90"></i>
            <h1 class="navbar-brand title">ColourPen</h1>
          <% end %>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavDropdown" >
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <li><%= link_to "投稿", new_post_path, class: "btn btn-outline-secondary mx-1 my-1" %></li>
                <li><%= link_to "絶景一覧", posts_path, class: "btn btn-outline-secondary mx-1 my-1" %></li>
                <li><%= link_to "ランキング", rankings_path, class: "btn btn-outline-secondary mx-1 my-1" %></li>
                <li><%= link_to "マイページ", users_my_page_path, class: "btn btn-outline-secondary mx-1 my-1" %></li>
              <% elsif admin_signed_in? %>
                <li><%= link_to "会員一覧", admin_users_path, class: "btn btn-outline-secondary mx-1 my-1" %></li>
                <li><%= button_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-outline-secondary mx-1 my-1" %></li>
              <% else %>
                <li><%= link_to "会員登録", new_user_registration_path, class: "btn btn-outline-secondary mx-1 my-1" %></li>
                <li><%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-secondary mx-1 my-1" %></li>
                <li><%= link_to "ゲスト", guest_sign_in_path,  method: :post, class: "btn btn-outline-secondary mx-1 my-1" %></li>
                <li><%= link_to "絶景一覧", posts_path, class: "btn btn-outline-secondary mx-1 my-1" %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
    <div id="scroll-to-top" class="d-flex align-items-center justify-content-center">
      <i class="fas fa-less-than fa-2x fa-rotate-90 mt-2 mb-5 scroll"></i>
    </div>
  </body>

</html>
