<!DOCTYPE html>
<html>
  <head>
    <title>ColourPen</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <!--<nav class="navbar navbar-expand-lg navbar-white bg-white site-header pb-3 pt-3">-->
      <nav class= "navbar navbar-expand-lg navbar-dark bg-white site-header pb-3 pt-3">
      <div class="container">
        <i class="fas fa-pen fa-2x fa-rotate-90"></i>
        <%= link_to root_path, class: 'navbar-brand' do %>
          <h1 class="title">ColourPen</h1>
        <% end %>
      <div class="collapse navbar-collapse" id="navbarNavDropdown" >
        <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <!--<p class="aisatu">新たな幸せの発見を</p>-->
          <li><%= link_to "投稿", new_post_path, class: "btn btn-outline-dark mx-1" %></li>
          <li><%= link_to "絶景一覧", posts_path, class: "btn btn-outline-dark mx-1" %></li>
          <li><%= link_to "ランキング", rankings_path, class: "btn btn-outline-dark mx-1" %></li>
          <li><%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-outline-dark mx-1" %></li>
          <!--マイページはプロフィール画像をリンクにする-->
          <li><%= link_to "マイページ", users_my_page_path, class: "btn btn-outline-dark mx-1" %></li>
        <% elsif admin_signed_in? %>
          <li><%= link_to "会員一覧", admin_users_path, class: "btn btn-outline-dark mx-1" %></li>
          <li><%= button_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-outline-dark mx-1" %></li>
        <% else %>
          <li><%= link_to "会員登録", new_user_registration_path, class: "btn btn-outline-dark mx-1" %></li>
          <li><%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-dark mx-1" %></li>
          <li><%= link_to "ゲスト", guest_sign_in_path,  method: :post, class: "btn btn-outline-dark mx-1" %></li>
          <li><%= link_to "絶景一覧", posts_path, class: "btn btn-outline-dark mx-1" %></li>
        <% end %>
        </ul>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
